* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-repeat: no-repeat;
    font-size: 1.2em;

}
h1 {
    text-align: center;
    padding: 80px 4px;
}


section {
    display: flex;
    margin: auto;
    padding: 60px 10px;
    background-color: #C850C0;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: #00000085 2px 2px 10px;

}

label {
    margin: 0px;
    font-size: 1.4em;
    font-weight: 600;
}

input {
    background-color: black;
    color: white;
    padding-left: 4px;
    margin: 12px;
    height: 28px;
    border-radius: 10PX;
    border: black;
}
#rua {
    width: 280px;
}

#uf {
    width: 40px;
}

#btnCep {
    background-color: #4158D0;
    color: white;
    margin-left: 10px;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}

#btnCep:hover {
    background-color: #FFCC70;
    color: black;
}

footer {
    text-align: center;
    margin: 20px 4px;
}